html,body{
	height: 100%;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
	background: #111;
	letter-spacing: -0.2em;
}

@media all and (max-width: 1200px) {
	html, body{
		font-size: 80%;
	}
}

#templates{
	display: none;
}

a{
	text-decoration: none;
}

input{
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.clocks{
	height: 100%;
	width: 100%;
	float: left;
}

.menu{
	position: fixed;
	top: 1.5em;
	right: 1.5em;
	border-radius: 1.5em;
	width: 3em;
	height: 3em;
	background: rgba(255,255,255,0.2);
	opacity: 0.5;
}

.menu a{
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	-webkit-transform: translate(-50%,-52%);
	text-decoration: none;
	color: #FFF;
	font-size: 3em;

}

/*
.menu{
	width: 4%;
	float: left;
	height: 100%;
	background: #111;
	position: relative;
}

.menu a{
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	-webkit-transform: translate(-50%,-50%);
	text-decoration: none;
	color: #999;
	font-size: 2em;

}
*/

.clocks{

}

.clocks.background{
}

.clockWrap{
	float: left;
	background: #336;
	color: #FFF;
	text-align: center;
	position: relative;
}

.clockWrap .remove{
	display: none;
	color: #fff;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	background: rgba(255,255,255,0.2);
	width: 3rem;
	height: 3rem;
	border-radius: 1.5em;
	font-size: 3rem;
	line-height: 3rem;
	opacity: 0.5;
}

@media all and (min-width: 800px) {

	.clocks_1 .clockWrap{
		width: 100%;
		height: 100%;
		font-size: 200%;
	}

	.clocks_2 .clockWrap{
		width: 50%;
		height: 100%;
		font-size: 120%;
	}

	.clocks_3 .clockWrap{
		width: 33.33%;
		height: 100%;
		font-size: 80%;
	}

	.clocks_4 .clockWrap{
		width: 25%;
		height: 100%;
		font-size: 70%;
	}
}

.clockWrap:hover .remove{
	display: block;
}

.clock{
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	-webkit-transform: translate(-50%,-50%);
}

.clock .time{
	font-size: 9em;
	cursor: pointer;
}

.clock .location{
	font-size: 4em;
	cursor: pointer;
}

.clock span{
	margin: 0 -0.1em;
}

.controlsWrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}

.controlsWrap .controls{
	display: none;
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.96);
	width: 8em;
	height: 90%;
	color: #999;
	font-size: 4em;
	text-align: center;
}

.controls input{
	font-size: 1em;
	padding: 0.1em;
	border: none;
	background: none;
}

.controls .locationEdit input{
	font-size: 1em;
	padding: 0.1em;
	width: 67%%;
	border: none;
	border-bottom: 1px solid #ccc;
}

.controlsInner{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);

}

.clockEdit{
	position: relative;
}

.clockEdit .now{
	position: absolute;
	top: 1em;
	right: 1em;
	background: #EEE;
	border-radius: 2em;
	width: 2em;
	height: 2em;
	display: block;
	font-size: 1.4rem;
	letter-spacing: normal;
	padding: 0.5rem;
	line-height: 3rem;
	color: #222;
	text-align: center;
}

.clockEdit .dial {
	display: none;
}

.clockDisplay{
	width: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	text-align: center;
}

@media all and (max-width: 799px) {
	.clockWrap{
		float:none;
	}
}